<?xml version="1.0" encoding="UTF-8"?>
<web-app 
   xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
   metadata-complete="false"
   version="3.1">

    <servlet>
        <servlet-name>Get</servlet-name>
        <servlet-class>emem.servlets.GetServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Get</servlet-name>
        <url-pattern>/get</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Set</servlet-name>
        <servlet-class>emem.servlets.SetServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Set</servlet-name>
        <url-pattern>/set</url-pattern>
    </servlet-mapping>

</web-app>