<?xml version="1.0" encoding="UTF-8"?>
<web-app>
    <filter>
        <filter-name>DispatchFilter</filter-name>
        <filter-class>emem.cacheserver.controllers.DispatchFilter</filter-class>
        <init-param>
            <param-name>tokenDBHost</param-name>
            <!--<param-value>192.168.1.73</param-value>-->
        </init-param>
        <init-param>
            <param-name>tokenDBName</param-name>
            <param-value>emem_system</param-value>
        </init-param>
        <init-param>
            <param-name>statDBHost</param-name>
            <!--<param-value>192.168.1.73</param-value>-->
        </init-param>
        <init-param>
            <param-name>statDBName</param-name>
            <param-value>stat</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>DispatchFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>DataFilter</filter-name>
        <filter-class>emem.cacheserver.controllers.DataFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>DataFilter</filter-name>
        <url-pattern>/data/*</url-pattern>
    </filter-mapping>
</web-app>
